@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.header {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header img {
    width: 10%;
}

@media (min-width: 992px) { 
    .header h1 {
        font-size: 2.5vw;
    }
    .header p {
        font-size: 2vw;
    }
}

@media (max-width: 768px) { 
    .header h1 {
        font-size: 25px;
        text-align: center;
    }
    .header p {
        text-align: center;
    }
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 90vw;
    height: 120px;
    background-color: #fff;
    border-radius: 30px;
}

.inputs input {
    margin-top: 20px;
    width: 30vw;
}

.temperature-input, .particles-input {
    padding: 30px;
    text-align: center;
}

.simulation {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
}

.simulation p {
    font-size: 30px;
}

.simulation button {
    width: 30vw;
    background-color: #ebebeb;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

.simulation-container {
    width: 70vw;
    padding: 10px;
}

.simulation-container canvas {
    width: 100%;
    height: 100%;
}

.graph-info {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
}

.info-container {
    margin: 15px;
    width: 100%;
    display: flex;
    gap: 15px;
}

.info-item {
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.info-item p {
    text-align: center;
}

.footer {
    width: 90%;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
}